<p>product works!</p>
<div class="p-3">
    <div class="card">
        <div class="card-body">
            <div class="row p-5 align-items-center justify-content-center" [formGroup]="productForm">
                <div class="col-12 col-md-1">
                    <label for="code" class="col-form-label">รหัสสินค้า</label>
                </div>
                <div class="col-12 col-md-6">
                    <input type="text" class="form-control" placeholder="xxxxx-xxxxx-xxxxx-xxxxx-xxxxx-xxxxx" formControlName="code" (input)="onInputCode()">
                    @if (productForm.get('code')?.invalid && productForm.get('code')?.touched) {
                        <div class="text-danger mt-1">รหัสสินค้าไม่ถูกต้อง</div>
                    }
                </div>
                <div class="col-12 col-md-1">
                    <button type="button" class="btn btn-add col-12" (click)="onAddProduct()">ADD</button>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-12 col-md-8">
                    <table class="table table-bordered table-product">
                        <thead class="table-thead">
                            <tr>
                                <th>Id</th>
                                <th>รหัสสินค้า (36 หลัก)</th>
                                <th>View</th>
                                <th>Delete</th>                        
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                @for (item of productList; track $index) {
                                    <td>{{ item.id }}</td>
                                    <td>{{ item.code }}</td>
                                    <td>
                                        <button type="button" class="btn btn-view" (click)="onViewProduct()">QR</button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-delete" (click)="onDeleteProduct(item)">ลบ</button>
                                    </td>
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>