.btn-add {
    background-color: #4472C4;
    color: white;
}

.table-product {
    border-color: black;
    th {
        font-weight: 500;
        background-color: #00B0F0;
        text-align: center;
    }
}

.btn-view {

}

.btn-delete {

}